
<!--product display page-->
<div class="container-fluid">
    <h4 class="title">{{productInfo.name}}</h4>
    <h5 class="sub-heading">Model No. {{productInfo.model}} ({{productInfo.material}})</h5>
    <br>

    <!--start repeat of figures for productInfo-->
    <div ng-repeat="figure in productInfo.figures">
        <div class="img-wrap">
            <img-dir ng-repeat="img in figure.pics" image="img" images="figure.pics"></img-dir>
        </div>
        <p class="sub-heading text-box">Fig. {{figure.fig}}: {{figure.desc}}</p>

        <div class="text-box" ng-repeat="paragraph in figure.info">
            <p>{{paragraph}}</p>
            <br>
        </div>
    </div>
</div>