html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, sans-serif;
    color: #777777;
}

.navbar-default {
    border-bottom: none;
    opacity: .5;
    background-color: #FDFDFE;

}

.top-main {
    height: 300px;
    background: url("../images/FotorCreated.jpg") center no-repeat;
    z-index: -1;

    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /*margin-bottom: 20px;*/
}

.logo {
    height: 65px;
    padding: 0;
    background-size: contain;
}

.footer {
    height: 60px;
    background-color: #777E81;
    color: white;
    padding: 5px;
}

.dark {
    background-color: darkgray;
}

.light-gray-back {
    background-color: #F5F5F5;
}

.squish > * {
    display: inline-flex;
}

.navbar-nav li a {
    line-height: 65px;
    padding-top: 0;
    padding-bottom: 0;
}

.center {
    margin: auto;
    align-items: center;
    text-align: center;
}

.home {
    width: 80%;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
}

.space {
    padding: 20px;
}

.yellow {
    color: #FFD100;
}
.brown{
    color: #673423
}

.border {
    border-right: solid 2px;
    border-left: solid 2px;

}

.title {
    text-align: center;
}

.sub-heading {
    text-align: center;
}

.img-wrap {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 430px;
}

.image {
    height: 400px;
    margin: 0 auto;
    display: block;
}

.text-box {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

.employee{
    padding:30px;
    height:250px;
}
.employee > img{
    height:90%;
}
a:link {
    text-decoration: none;
    color: default;

}

a:visited {
    text-decoration: none;
    color: default;

}

a:hover {
    text-decoration: none;
    color: default;

}

a:active {
    text-decoration: none;
    color: default;
}

@media (max-device-width: 600px) {
    .top-main {
        height: 300px;
        background: url("../images/FotorCreated.jpg") center no-repeat;
        z-index: -1;

        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        /*margin-bottom: 20px;*/
    }
    .img-wrap {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 600px;
        height: 430px;
    }

    .image {
        height: 400px;
        margin: 0 auto;
        display: block;
    }

    .text-box {
        align-items: center;

        margin-right: auto;
        margin-left: auto;
        width: 800px;
    }

    .border {
        border-right: solid 2px;

    }

}